<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Mysql">
	<select id="Search" parameterType="Map" resultType="Map">
        SELECT * 
        FROM language
        WHERE 1 = 1 
        <choose>
            <when test="search == 'NAME' ">
                and name like CONCAT('%', #{words}, '%')
            </when>
            <otherwise>
                and last_update like CONCAT('%', #{words}, '%')
            </otherwise>
        </choose>
	</select>

	<select id="SearchAll" parameterType="Map" resultType="Map">
        SELECT * 
        FROM language
        WHERE 1 = 1 
	</select>

	<select id="selectDetail" parameterType="Map" resultType="Map">
        SELECT * 
        FROM language
        WHERE language_id = #{language_id}
	</select>

    <insert id="insert" parameterType="Map">
        insert into language
        (name, last_update)
        values
        (#{name}, now());
    </insert>

    <update id="update" parameterType="Map">
        UPDATE language
        SET name = #{name}, last_update=now()
        WHERE language_id = #{language_id};
    </update>

    <delete id="delete" parameterType="Map">
        delete from language
        where language_id = #{language_id};
    </delete>
</mapper>