<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Input Form Example</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <form action="/mysql/insertandSelect" method="post">
            <div class="form-group">
                <label>언어 입력</label>
                <input type="text" class="form-control" name="name" placeholder="언어 입력">
            </div>
            <button class="btn btn-primary" type="submit">입력</button>
        </form>
    </div>
    <form action="">
        <button formaction="/mysql/SearchAll" type="submit">메인화면</button>
    </form>
</body>
</html>